<!-- Navigation -->
<style>
.navbar{
    height: 10px;
}
</style>
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;background-color: #a43b40;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="./myTrips.html"><img src="./Savo_logo.png"></a>
    </div>
    <!-- /.navbar-header -->

    <!--<ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Anna &nbsp&nbsp<i class="fa fa-caret-down"></i>
            </a>
            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            
        </li>
    </ul>-->
    <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
      <li><a href="#"><span class="glyphicon glyphicon-user" style="color:white"></span><font color="white"> Anna</font></a></li>
      <li><a href="./logIn.html"><span class="glyphicon glyphicon-log-in" style="color:white"></span> <font color="white">Log out</font></a></li>
    </ul> 
            <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <!-- <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
               

                </li> -->
    
                <li>
                    <br>
                    <br>
                    <div class="text-center"><font size="7"><%= current_user.points %></font></div>
                    <div class="text-center"><font size="4">points</font></div>
                    <br>
                    <br>
                    <!-- <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a> -->
                </li>
                <li>
                    <a href="./myTrips.html"><div class="text-center">My Trips</div></a>
                </li>
                <li>
                    <a href="./rewards.html"><div class="text-center">Rewards</div></a>
                </li>
                <li>
                    <a href="#"><div class="text-center">Settings</div></a>
                </li>
                <li>
                    <a href="#"><div class="text-center">Help</div></a>
                </li>
                <br>

                <li>
                    <div class="text-center"><font size="5">Leaderboard</font></div>
                    <table style="width: 80%; border:0;" class="limit-table-col-30 table  table-striped  table-condensed center-table">
                            <thead>
                              <tr>
                                <th  class="text-center">Name</th>
                                <th class="text-center">Points</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr >
                                <td><img src="../leo.jpg" class="img-circle" alt="Cinque Terre" width="30" height="30"> Anna</td>
                                <td>40000</td>
                              </tr>
                              <tr>
                                <td><img src="../leo.jpg" class="img-circle" alt="Cinque Terre" width="30" height="30"> Debbie</td>
                                <td>30000</td>
                              </tr>
                              <tr>
                                <td><img src="../leo.jpg" class="img-circle" alt="Cinque Terre" width="30" height="30"> John</td>
                                <td>21000</td>
                              </tr>
                            </tbody>
                          </table>
                </li>
            </ul>
        </div>
        
    </div>
    
</nav>