<!-- Navigation -->
<style type="text/css" media = "screen, projection">
    @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.navbar{
    height: 10px;


}
</style>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color:#A43B40;margin-bottom: 0; margin-left: 100; padding:0px 0px 0px 0px;z-index: 1; border-radius: 0;position:relative !important">
    <div class="navbar-header" style="font-family: 'Lato', sans-serif;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a href="./myTrips.html"><img src="Savo_logo.png"></a>
    </div>       
    <!-- /.navbar-header -->

    <ul class="nav navbar-nav navbar-right">
    <li><a href="#" style="pointer-events: none; margin-left: 70px;font-family: 'Lato', sans-serif;"><font color="white"><b><%= @user.name %></b></font></a></li>
    <li style="font-family: 'Lato', sans-serif;"><a href="./logIn.html"><span class="glyphicon glyphicon-log-out" style="color:white;"></span> <font color="white"><b>Log out</b></font></a></li>

    <a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a>

    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation" style="background-color: white;">
        <div class="sidebar-nav navbar-collapse">
            <div style="vertical-align: top; margin-left: 30px; margin-top: 30px;font-family: 'Lato', sans-serif;">
            <div class="panel panel-default">
                <ul class="nav"  id="side-menu">
                    <li>
                        <br>
                        <br>
                        <div class="text-center"><font size="7" color="#A43B40"><%= @user.points %></font></div>
                        <div class="text-center"><font size="4" color="#A43B40">POINTS</font></div>
                        <br>
                        <br>
                    <!-- <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a> -->
                    </li>
                    <li>
                        <a href="./myTrips.html"><div class="text-center"><b>My Trips</b></div></a>
                    </li>
                    <li>
                        <a href="./rewards.html"><div class="text-center"><b>Rewards</b></div></a>
                    </li>
                    <li>
                        <a href="./settings.html"><div class="text-center"><b>Settings</b></div></a>
                    </li>
                    <li>
                        <a href="./help.html"><div class="text-center"><b>Help</b></div></a>
                    </li>
                </ul>
                </div>
                <div class="text-center" style='border-radius: 0; pointer-events: none;' >
                    <div class="panel panel-default" style='border-radius: 0;'>
                        <div class="panel-heading" style='border-radius: 0; font-family: 'Lato', sans-serif;'><span class="glyphicon glyphicon-flag" ></span><b> LEADERBOARD</b></div>
                        <ul class="nav">
                        <% $top_users.each do |user| %>
                            <li><a><div class="text-center"><span class="glyphicon glyphicon-star" style="color:black;"></span>      <font color="black"><%= user.name %></font><br><font size = "-1" color="#A43B40"><b><%= user.points %> points</b></font></div></a></li>
                        <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>